html {
  touch-action: pan-x pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  th:nth-child(2) {
  width: 20%;
}

td button {
  font-size: 1.2rem;
  padding: 10px 15px;
}



    /* 기본 스타일 */
    body {
      font-family: Arial, sans-serif;
    }

    /* 모바일 화면 스타일 */
    @media only screen and (max-width: 600px) {
      body {
        font-size: 16px;
      }
    }
/* 테이블 스타일 */
        table {
            border-collapse: collapse;
            width: 100%;
        }
html, table, tbody {
			touch-action: pan-x pan-y;
		}

        th, td {
            text-align: center;
            padding: 8px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .송이 {
            background-color: #ffffcc;
        }
